NEXT_PUBLIC_SITE_URL=https://ahjazliqaati.com
NEXT_PUBLIC_SUPABASE_URL=https://nrsmpjrtagtrieujwhya.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_VENUE_APP_URL=https://app.ahjazliqaati.com
